<mat-drawer-container class="sidebar-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <h3>Menu</h3>
        <mat-list role="list">
            <a mat-list-item routerLink="/dashboard/">Inicio</a>
            <a mat-list-item routerLink="/dashboard/students">Estudiantes</a>
            <a mat-list-item routerLink="/dashboard/careers"
            *ngIf="(authUser | async)?.role === 'admin'">Carreras</a>
            <a mat-list-item routerLink="/dashboard/users"
            *ngIf="(authUser | async)?.role === 'admin'">Usuarios</a>
            <button mat-list-item (click)="logOut()">Cerrar Sesión</button>
        </mat-list>
    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span> Academia Virtual </span>
            <span class="example-spacer"></span>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </div>

</mat-drawer-container>