<mat-drawer-container class="sidebar-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
        <h3>Menu</h3>
        <mat-list role="list">
            <mat-list-item role="listitem">Carreras</mat-list-item>
            <mat-list-item role="listitem">Ingreso Alumnos</mat-list-item>
            <mat-list-item role="listitem">Ingreso Docentes</mat-list-item>
        </mat-list>
    </mat-drawer>

    <div class="sidenav-content">
        <mat-toolbar>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span> Academia Virtual </span>
            <span class="example-spacer"></span>
        </mat-toolbar>
        <!-- <students-form></students-form>
        <students-table></students-table> -->
        <app-alumnos-registro></app-alumnos-registro>

        
    </div>
</mat-drawer-container>
